@import 'libs/_style';
@import 'base/_style';

a.regHeaderLink {
    margin: 0 10px;
    padding: 3px 5px;
    @include border-radius(2px);
    &:last-of-type {
    	margin-right: 0;
    }
    &:hover {
    	color: #1B1B1B;
    	background-color: #FF6B00;
    	text-decoration: none;
    	width: 57px;
		height: 20px;
		background-color: #ff6b00;
    }
}
.loginLinks  {
	width: 195px;
}

.initial-screen {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 35px 0;
	background-image: url('../img/road.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50% 50%;
	&--aside {
		display: block;
		float: left;
		position: relative;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		width: 30%;
		padding: 0 8%;
		text-align: center;
		a {
			text-decoration: none;
			color: #FFF;
			margin-bottom: 10px;
			display: block;
			float: left;
			width: 100%;
			display: block;
			height: 135px;
			position: relative;			
			&:hover {
				.initial-screen--icon--1 {
					background-color: darken(#2bad99, 15%);
				}
				.initial-screen--icon--2 {
					background-color: darken(#ffae00, 15%);
				}
				.initial-screen--icon--3 {
					background-color: darken(#03A80A, 15%);
				}
				.initial-screen--icon--4 {
					background-color: darken(#ED0722, 15%);
				}
			}		
		}
	
	}
	&--icon {
		display: block;
		margin: 0 auto 10px;
		width: 79px;
		height: 78px;
		line-height: 78px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		@include transition(.3s);	
		img {
			width: 50%;
			height: auto;
			display: inline-block;
			vertical-align: middle;
		}
		&--1 {
			background-color: #2bad99;			
		}
		&--2 {
			background-color: #ffae00;
		}
		&--3 {
			background-color: #03A80A;
		}
		&--4 {
			background-color: #ED0722;
		}
	}
	&--center {
		display: block;
		float: left;
		position: relative;
		width: 40%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		text-align: center;
	}
	&--logo {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		text-align: center;
		margin-bottom: 10px;
		img {
			display: inline-block;
		}
		h4 {
			margin: 0;
			font-size: 16px;
			color: #FFF;
			font-family: $th;
			letter-spacing: 1px;
		}
	}
	&--more {
		display: inline-block;
		padding: 10px 30px;
		font-size: 20px;
		color: #FFF;
		@include border-radius(22px);
		background-color: #000;
		font-family: $r;
		margin: 10px 0;
		position: relative;
		@include transition(.3s);
		&:hover {
			background-color: lighten(#000, 15%);
		}
	}
	&--apply {
		display: inline-block;
		color: #FFF;
		padding: 15px 50px;
		background-color: #FE6A00;
		position: relative;
		@include border-radius(10px);
		@include background-clip(padding-box);
		margin: 20px 0;
		font-size: 18px;
		font-family: $r;
		@include transition(.3s);
		&:hover {
			background-color: darken(#FE6A00, 5%);
		}
	}
}

.filter {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 0;
	&:after {
		content: none;
	}
	&--topline {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		background-color: #000;
		padding: 0 15px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		height: 50px;
		line-height: 50px;
		img {
			vertical-align: sub;
			display: inline-block;
		}
		h3 {
			display: inline-block;
			font-size: 23px;
			margin: 0 15px;
		}
	}
	&--item {
		display: block;
		float: left;
		position: relative;
		width: 1 / 6 * 100%;
		height: 130px;
		text-align: center;
		&--chess {
			background-color: #2E2E2E;
			color: #FFF;
		}	
		input[type="checkbox"] {
		  display:none;
		}
		input[type="checkbox"] + label {
		  font-size:16px;
		  display: inline-block; 
		  text-transform: inherit;
		  margin: 0;
		  width: 100%;
		  margin: 15px 0;
		  -webkit-user-select: none;				
		  -moz-user-select: none;				
		  -ms-user-select: none;
		}
					
		input[type="checkbox"] + label span {
		  display: inline-block;
		  margin:-1px auto 0;
		  vertical-align:middle;
		  cursor:pointer; 
		  filter: grayscale(100%);
		  -webkit-filter: grayscale(100%);
		  -ms-filter: grayscale(100%);
		  text-align: center;
		  img {
		  	width: 56px;
		  	height: 56px;
		  }
		  p {
		  	margin: 0;
		  }
		}

		input[type="checkbox"]:checked + label span{   
		  background-position: center;
		  background-repeat: no-repeat;
		  color: $o;
		  filter: grayscale(0);
		  -webkit-filter: grayscale(0);
		  -ms-filter: grayscale(0);
		  
		}

		input[type="checkbox"]:checked + label i {
		  filter: grayscale(0);
		  -webkit-filter: grayscale(0);
		  -ms-filter: grayscale(0)
		}

		input[type="checkbox"] + label i {
		  filter: grayscale(100%);
		  -webkit-filter: grayscale(100%);
		  -ms-filter: grayscale(100%)
		}

		input[type="checkbox"] + label span,
		input[type="checkbox"]:checked + label span {
		  -webkit-transition:background-color 0.4s linear;
		  -o-transition:background-color 0.4s linear;
		  -moz-transition:background-color 0.4s linear;
		  transition:background-color 0.4s linear;
		}

		input[type="checkbox"]:checked + label {
		  color: $o;
		}
	}
	&__map {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		height: 450px;
		&--checklist {
			
			display: block;
			float: right;
			position: absolute;
			padding: 30px;
			background-color: rgba(0,0,0,.79);
			top: 0;
			bottom: 0;
			right: 0;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
	        @include orange-check;
			input[type="checkbox"] + label {
				font-size:15px;
				font-family: $l;
				color: #FFF;
				margin-bottom: 15px;
			}
		}
		
	}
}

.search {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	background-color: #000;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0 15px;	
	@include orange-check;
	input[type="checkbox"] + label {
		display: inline-block;
		font-size:15px;
		display: inline-block;
		font-family: $l;
		color: #FFF;
		margin: 10px 15px 10px 0;
	}	 
	&--topline {
		@extend .filter--topline;
		padding: 0;
	}
	.filter__searchline {
		border: none;
		font-family: $l;		
		select {
			border: none;
			height: 45px;
			outline: none;
		}
		&--search {
			border: none;
			height: 45px;
			background-color: #D0D0D0;
			width: 297px;
			outline: none;
		}
		&--but {
			border: none;
			height: 45px;
			outline: none;
			&--search {
				width: 75px;
			}
			&:hover {
				background-color: $o;
				color: #FFF;
			}			
		}
		.prodTypeSearch {
			width: 220px;
		}
		.regionSearch {
			width: 237px;
		}			
	}
}