@import 'libs/_style';
@import 'base/_style';

a.regHeaderLink {
    margin: 0 10px;
    padding: 3px 5px;
    @include border-radius(2px);
    &:last-of-type {
    	margin-right: 0;
    }
    &:hover {
    	color: #1B1B1B;
    	background-color: #FF6B00;
    	text-decoration: none;
    	width: 57px;
		height: 20px;
		background-color: #ff6b00;
    }
}
.loginLinks  {
	width: 195px;
}

.initial-screen {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 35px 0;
	background-image: url('../img/road.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50% 50%;
	&--aside {
		display: block;
		float: left;
		position: relative;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		width: 30%;
		padding: 0 8%;
		text-align: center;
		a {
			text-decoration: none;
			color: #FFF;
			margin-bottom: 10px;
			display: block;
			float: left;
			width: 100%;
			display: block;
			height: 135px;
			position: relative;			
			&:hover {
				.initial-screen--icon--1 {
					background-color: darken(#2bad99, 15%);
				}
				.initial-screen--icon--2 {
					background-color: darken(#ffae00, 15%);
				}
				.initial-screen--icon--3 {
					background-color: darken(#03A80A, 15%);
				}
				.initial-screen--icon--4 {
					background-color: darken(#ED0722, 15%);
				}
			}		
		}
	
	}
	&--icon {
		display: block;
		margin: 0 auto 10px;
		width: 79px;
		height: 78px;
		line-height: 78px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		@include transition(.3s);	
		img {
			width: 50%;
			height: auto;
			display: inline-block;
			vertical-align: middle;
		}
		&--1 {
			background-color: #2bad99;			
		}
		&--2 {
			background-color: #ffae00;
		}
		&--3 {
			background-color: #03A80A;
		}
		&--4 {
			background-color: #ED0722;
		}
	}
	&--center {
		display: block;
		float: left;
		position: relative;
		width: 40%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		text-align: center;
	}
	&--logo {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		text-align: center;
		margin-bottom: 10px;
		img {
			display: inline-block;
		}
		h4 {
			margin: 0;
			font-size: 16px;
			color: #FFF;
			font-family: $th;
			letter-spacing: 1px;
		}
	}
	&--more {
		display: inline-block;
		padding: 10px 30px;
		font-size: 20px;
		color: #FFF;
		@include border-radius(22px);
		background-color: #000;
		font-family: $r;
		margin: 10px 0;
		position: relative;
		@include transition(.3s);
		&:hover {
			background-color: lighten(#000, 10%);
		}
	}
	&--apply {
		display: inline-block;
		color: #FFF;
		padding: 15px 50px;
		background-color: #FE6A00;
		position: relative;
		@include border-radius(10px);
		@include background-clip(padding-box);
		margin: 20px 0;
		font-size: 18px;
		font-family: $r;
		@include transition(.3s);
		&:hover {
			background-color: darken(#FE6A00, 10%);
		}
	}
}

.filter {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 0;
	&:after {
		content: none;
	}
	&--topline {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		background-color: #000;
		padding: 0 15px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		height: 50px;
		line-height: 50px;
		img {
			vertical-align: sub;
			display: inline-block;
		}
		h3 {
			display: inline-block;
			font-size: 23px;
			margin: 0 15px;
		}
	}
	&--item {
		display: block;
		float: left;
		position: relative;
		width: 1 / 6 * 100%;
		height: 130px;
		text-align: center;
		&--chess {
			background-color: #2E2E2E;
			color: #FFF;
		}	
		input[type="checkbox"] {
		  display:none;
		}
		input[type="checkbox"] + label {
		  font-size:16px;
		  display: inline-block; 
		  text-transform: inherit;
		  margin: 0;
		  width: 100%;
		  margin: 15px 0;
		  -webkit-user-select: none;				
		  -moz-user-select: none;				
		  -ms-user-select: none;
		}
					
		input[type="checkbox"] + label span {
		  display: inline-block;
		  margin:-1px auto 0;
		  vertical-align:middle;
		  cursor:pointer; 
		  filter: grayscale(100%);
		  -webkit-filter: grayscale(100%);
		  -ms-filter: grayscale(100%);
		  text-align: center;
		  img {
		  	width: 56px;
		  	height: 56px;
		  }
		  p {
		  	margin: 0;
		  }
		}

		input[type="checkbox"]:checked + label span{   
		  background-position: center;
		  background-repeat: no-repeat;
		  color: $o;
		  filter: grayscale(0);
		  -webkit-filter: grayscale(0);
		  -ms-filter: grayscale(0);
		  
		}

		input[type="checkbox"]:checked + label i {
		  filter: grayscale(0);
		  -webkit-filter: grayscale(0);
		  -ms-filter: grayscale(0)
		}

		input[type="checkbox"] + label i {
		  filter: grayscale(100%);
		  -webkit-filter: grayscale(100%);
		  -ms-filter: grayscale(100%)
		}

		input[type="checkbox"] + label span,
		input[type="checkbox"]:checked + label span {
		  -webkit-transition:background-color 0.4s linear;
		  -o-transition:background-color 0.4s linear;
		  -moz-transition:background-color 0.4s linear;
		  transition:background-color 0.4s linear;
		}

		input[type="checkbox"]:checked + label {
		  color: $o;
		}
	}
	&__map {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		height: 450px;
		&--checklist {
			
			display: block;
			float: right;
			position: absolute;
			padding: 30px;
			background-color: rgba(0,0,0,.79);
			top: 0;
			bottom: 0;
			right: 0;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
	        @include orange-check;
			input[type="checkbox"] + label {
				font-size:15px;
				font-family: $l;
				color: #FFF;
				margin-bottom: 15px;
			}
		}
		
	}
}

.search {
	display: block;
	float: left;
	position: relative;
	width: 100%;
		
	@include orange-check;
	input[type="checkbox"] + label {
		display: inline-block;
		font-size:15px;
		display: inline-block;
		font-family: $l;
		color: #FFF;
		margin: 10px 15px 10px 0;
	}	 
	&__wrap {
		display: block;
		float: left;
		position: relative;
		background-color: #000;
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 0 15px;
	}
	&--topline {
		@extend .filter--topline;
		padding: 0;
	}
	.filter__searchline {
		border: none;
		font-family: $l;		
		select {
			border: none;
			height: 45px;
			outline: none;
		}
		&--search {
			border: none;
			height: 45px;
			background-color: #D0D0D0;
			width: 297px;
			outline: none;
		}
		&--but {
			border: none;
			height: 45px;
			outline: none;
			&--search {
				width: 75px;
			}
			&:hover {
				background-color: $o;
				color: #FFF;
			}			
		}
		.prodTypeSearch {
			width: 220px;
		}
		.regionSearch {
			width: 237px;
		}			
	}
}

.ads {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	h2 {
		background-color: #000;
		text-align: center;
		color: $o;
		padding: 10px 0;
		text-transform: uppercase;
		width: 100%;
		margin: 0;
		float: left;
	}
	&__wrap {
		display: block;
		float: left;
		position: relative;
		margin: 0 -5px;
	}
	&__item {
		display: block;
		float: left;
		position: relative;
		width: 25%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 0 5px;
		text-decoration: none;
		margin: 15px 0;
		&--img {
			display: block;
			float: left;
			position: relative;
			height: 165px;
			width: 100%;
			overflow: hidden;
			margin-bottom: 10px;
			img {
				min-width: 100%;
				height: auto;
				position: relative;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
			} 	
		}
		&--title {
			font-family: $r;
			font-size: 16px;
			color: #282828;
			
		}
		&--rating {
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0 5px;
			background-color: #000;
			color: #FFF;
			font-size: 16px;
			font-family: $r;
			height: 30px;
			line-height: 30px;
			&:after {
				content: "";
				position: absolute;
				width: 0;
				height: 0;
				right: -10px;
				border-top: 15px solid transparent;
				border-left: 10px solid #000;
				border-bottom: 15px solid transparent;
			}
		}
	}
}

.deals {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	&--topline {
		@extend .filter--topline;
		margin-bottom: 0;
		h3 {
			color: $o;
		}
	}
	&__menu {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		background-color: #CFCECE;
		ul {
			padding: 0;
			margin: 0;
			li {
				display: block;
				float: left;
				a {
					display: block;
					text-decoration: none;
					color: #0A0A0A;	
					font-size: 15px;
					padding: 15px 20px;	
					&:hover,&:focus {
						background-color: #202020;
						color: #fff;
					}			
				}
				a.deals__menu--all {
					padding: 15px 34px 15px 35px;
				}
				a.deals__menu--active {
					background-color: #202020;
					color: #fff;
				}
			}
		}
	}
	.deals__block-desc-price {
		border-top: 1px solid #dadada;
    }
    .deals__block-desc p {
    	border-top: none;
    }
    .deals__block-img {
    	border-bottom: 1px solid #dadada;
    	border-top: 1px solid #dadada;
    }
    .deals__block-desc-price_old p {
    	line-height: 12px;
    }
    .deals__block-desc-price_new p {
    	line-height: 10px;
    }
}

.news {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 0;
	&--topline {
		@extend .filter--topline;
		margin-bottom: 15px;
	}
	&__item {
		&--1 {
			display: block;
			float: left;
			width: 50%;
			position: relative;
			height: 600px;
			overflow: hidden;			
			img {
				min-width: 100%;
				height: auto;
				position: relative;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				min-height: 100%;
			} 	
			.news__item--title {
				display: block;
				float: left;
				position: absolute;
				z-index: 2;
				width: 100%;
				bottom: 0;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				@include transition(.2s);
				padding: 40px;
				background-color: #FF6B00;
				-webkit-transform: translateY(100%);
				   -moz-transform: translateY(100%);
				    -ms-transform: translateY(100%);
				     -o-transform: translateY(100%);
				        transform: translateY(100%);
				p {
					color: #fff;
					font-size: 22px;
				}
			}
			&:hover {
				.news__item--title {
					-webkit-transform: translateY(0%);
					   -moz-transform: translateY(0%);
					    -ms-transform: translateY(0%);
					     -o-transform: translateY(0%);
					        transform: translateY(0%);
				}
			}
		}
		&--2 {
			display: block;
			float: left;
			width: 100%;
			position: relative;
			height: 200px;
			overflow: hidden;			
			img {
				min-width: 100%;
				height: auto;
				position: relative;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				min-height: 100%;
			} 	
			.news__item--title {
				display: block;
				float: left;
				position: absolute;
				z-index: 2;
				width: 50%;
				height: 100%;
				bottom: 0;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				@include transition(.2s);
				padding: 20px;
				background-color: #000;
				-webkit-transform: translateX(200%);
				   -moz-transform: translateX(200%);
				    -ms-transform: translateX(200%);
				     -o-transform: translateX(200%);
				        transform: translateX(200%);
				p {
					color: #fff;
					font-size: 22px;
				}
			}
			&:hover {
				.news__item--title {
					-webkit-transform: translateX(100%);
					   -moz-transform: translateX(100%);
					    -ms-transform: translateX(100%);
					     -o-transform: translateX(100%);
					        transform: translateX(100%);
				}
			}
		}
		&--3 {
			@extend .news__item--2;
			.news__item--title {
				background-color: #FFF;
				-webkit-transform: translateX(-100%);
				   -moz-transform: translateX(-100%);
				    -ms-transform: translateX(-100%);
				     -o-transform: translateX(-100%);
				        transform: translateX(-100%);
				p {
					color: #000;
				}
			}
			&:hover {
				.news__item--title {
					-webkit-transform: translateX(0%);
					   -moz-transform: translateX(0%);
					    -ms-transform: translateX(0%);
					     -o-transform: translateX(0%);
					        transform: translateX(0%);
				}
			}
		}
		&--4 {
			@extend .news__item--2;
		}
		&--5 {
			@extend .news__item--3;
			height: 350px;	
			.news__item--title {
				padding: 40px;
			}		
		}
	}
	&--leftside {
		display: block;
		float: left;
		position: relative;
		width: 50%;
	}
	&:after {
		content: none;
	}
}

.foot {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	background-color: #0a0a0a;
	margin-top: 30px;
	padding: 50px 0 120px;
	&--logo {
		width: 20%;
		text-align: center;
		display: block;
		float: left;
		img {
			width: 100%;
		}
		h4 {
			color: #fff;
			font-size: 12px;
			margin: 0;
		}
		.foot--city {
			display: block;
			float: left;
			position: relative;
			width: 100%;
			height: 29px;
			border: 1px solid rgba(2,1,2,.21);
			background-color: #272727;
			-moz-box-shadow: 0 2px 4px rgba(2,1,2,.19), inset 0 2px 2px rgba(255,255,255,.12);
			-webkit-box-shadow: 0 2px 4px rgba(2,1,2,.19), inset 0 2px 2px rgba(255,255,255,.12);
			box-shadow: 0 2px 4px rgba(2,1,2,.19), inset 0 2px 2px rgba(255,255,255,.12);
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE4OSAyOSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxODkiIGhlaWdodD0iMjkiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
			background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.25) 0%, rgba(0,0,0,0) 100%);
			background-image: -o-linear-gradient(bottom, rgba(0,0,0,.25) 0%, rgba(0,0,0,0) 100%);
			background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.25) 0%, rgba(0,0,0,0) 100%);
			background-image: linear-gradient(bottom, rgba(0,0,0,.25) 0%, rgba(0,0,0,0) 100%);
			color: $o;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			padding-left: 15px;
			font-size: 15px;
			line-height: 29px;
			margin-top: 15px;
			text-align: left;
			text-decoration: none;
		}
	}
	&__sitemap {
		display: block;
		float: left;
		position: relative;
		width: 45%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding-left: 10px;
		ul {
			padding-left: 15px;
			margin: 0;
			display: block;
			float: left;
			li {
				a {
					font-family: $l;
					font-size: 10px;
					color: #FFF;
					margin-bottom: 12px;
					&:hover {
						text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
					}					
				}
				a.foot__sitemap--parent {
					font-family: $r;
					font-size: 14px;
					text-decoration: underline;
					margin-bottom: 10px;
					display: block;
					&:hover {
						text-shadow: none;
						color: $o;
					}				
				}
			}
		}
		&--right {
			@extend .foot__sitemap;
			width: 35%;
			ul {
				padding-left: 12px;
			}
		}
	}
	&--social {
		display: block;
		float: left;
		position: relative;
		padding-left: 12px;
		margin-top: 25px;
		a {
			display: block;
			float: left;
			margin-right: 5px;
			width: 27px;
			height: 28px;
			border: 1px solid rgba(2,1,2,.21);
			-moz-border-radius: 15px / 15px 15px 15px 15px;
			-webkit-border-radius: 15px / 15px 15px 15px 15px;
			border-radius: 15px / 15px 15px 15px 15px;
			-moz-background-clip: padding;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			background-color: #3f3f3f;
			-moz-box-shadow: 0 2px 4px rgba(2,1,2,.19), inset 0 2px 2px rgba(255,255,255,.12);
			-webkit-box-shadow: 0 2px 4px rgba(2,1,2,.19), inset 0 2px 2px rgba(255,255,255,.12);
			box-shadow: 0 2px 4px rgba(2,1,2,.19), inset 0 2px 2px rgba(255,255,255,.12);
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDI3IDI4IiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImhhdDAiIGdyYWRpZW50VW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiB4MT0iNTAlIiB5MT0iMTAwJSIgeDI9IjUwJSIgeTI9Ii0xLjQyMTA4NTQ3MTUyMDJlLTE0JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjI3IiBoZWlnaHQ9IjI4IiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
			background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.25) 0%, rgba(0,0,0,0) 100%);
			background-image: -o-linear-gradient(bottom, rgba(0,0,0,.25) 0%, rgba(0,0,0,0) 100%);
			background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.25) 0%, rgba(0,0,0,0) 100%);
			background-image: linear-gradient(bottom, rgba(0,0,0,.25) 0%, rgba(0,0,0,0) 100%);
			color: #FFF;
			text-align: center;
			line-height: 28px;
			@include transition (.3s);
			img {
				vertical-align: middle;
			}
			&:hover {
				background-color: lighten(#3F3F3F,15%);
			}
		}
		&--logo {
			display: block;
			float: left;
			width: 120px;
			margin-top: 25px;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			padding-left: 15px;
			img {
				width: 100%;
			}
		}
	}
}