.first {
	display: block;
	position: relative;
	padding: 175px 0 200px;
	background-image: url("../img/SLIDER-IMAGE.png");
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-attachment: fixed;
	background-size: cover;
	@include after_left();
	&__title {
	// 	display: block;
	// 	width: 551px;
	// 	position: relative;
	// 	margin: 0 auto;
	// 	background: rgba(0, 0 ,0 , 0.8);
	// 	padding: 0 20px 10px;
	// 	&__logo {
	// 		display: inline-block;
	// 		width: 20%;
	// 		img {
	// 			display: block;
	// 			width: 91px;
	// 			height: 91px;
	// 		}
	// 	}
		
		// &__desc {
		// 	display: inline-block;
		// 	width: 75%;
		// 	h1 {
		// 		color: #fff;
		// 		font-size: 75px;
		// 		display: block;
		// 		font-family: "Calibri";
		// 		text-align: center;
		// 		font-weight: bold;
		// 		border-bottom: 1px solid #fff;
		// 		margin: 0;
		// 	}
		// 	p {
		// 		margin: 5px 0 0;
		// 		color: #fff;
		// 		font-size: 24px;
		// 		text-align: center;
		// 		font-family: $r;
		// 	}
		// }
		
		&__desc {
			display: block;
			margin: 0 auto;
			width: 40%;
			h1 {
				color: #fff;
				font-size: 75px;
				display: block;
				font-family: "Calibri";
				text-align: center;
				font-weight: bold;				
				margin: 0;
				span {
					border-bottom: 1px solid #fff;
				}
			}
			p {
				margin: 5px 0 0;
				color: #fff;
				font-size: 24px;
				text-align: center;
				font-family: $r;
			}
		}
	}
	&__but {
		display: block;
		margin: 25px auto;
		width: 248px;
		position: relative;		
		// a {
		// 	display: inline-block;
		// 	background-color: $o;
		// 	width: 162px;
		// 	height: 32px;
		// 	color: #fff;
		// 	text-align: center;
		// 	font-family: $b;
		// 	margin: 0 10px;
		// 	line-height: 32px;
		// 	&:hover, &:active &:focus{
		// 		background-color: darken($o, 10%);
		// 	}
		// }
		
		&--but {
			display: block;
			margin: 0 auto;
			background-color: $o;
			width: 248px;
			height: 53px;
			color: #fff;
			text-align: center;
			font-family: $b;
			line-height: 53px;
			text-transform: uppercase;
			position: relative;
			font-size: 19px;
			&:after {
				content: "";
				position: absolute;
				bottom: -5px;
				left: 0;
				width: 248px;
				height: 5px;
				@include border-radius(0 248px 7px 7px / 0 0 5px 5px);
				@include background-clip(padding-box);
				background-color: #bb4f01;

			}
			&:hover, &:active &:focus{
				background-color: darken($o, 10%);
				&:after {
					background-color: lighten(#bb4f01, 10%);
				}
			}
		}
	}
	&-nav {
		display: none;
		position: absolute;
		color: #FFF;
		left: 7px;
		top: 58px;
	    background-color: #2b2b2b;
		width: 235px;
		//margin: 5px auto;
		padding: 0;
		transition: transform 0.2s ease;
		z-index: 999;
		li {
			display: block;
			float: left;			
			background-color: #2b2b2b;
			border-top: 1px solid rgba(#fff,0.25);
			&:nth-child(even) {
				border-left: 1px dotted #3e3e3e;
			}
			&:nth-child(1) {
				border-left: 4px solid #75ce6d;
			}
			&:nth-child(3) {
				border-left: 4px solid #6EB4E8;
			}
			&:nth-child(5) {
				border-left: 4px solid #e5c04c;
			}
			&:nth-child(7) {
				border-left: 4px solid #ce5b4e;
			}
			&:nth-child(9) {
				border-left: 4px solid #74557f;
			}
		}
		a {
			display: block;
			color: #fff;	
			width: 100px;
			height: 50px;
			line-height: 50px;	
			padding-left: 15px;				
			background-color: #2b2b2b;			
			text-decoration: none;
			font-size: 13px;
			&:hover {
				color: $o;
			}
		}
		&__list {
		    @extend %unstyled-list;
		    /* 
		    li + li {
		      border-top: 1px solid rgba(#fff,0.25);
		    } */
		    li:hover {
		    	background-color: #2B2B2B;
		    }
		  }
	}
}

.filter {
	display: block;
	position: relative;
	padding-bottom: 50px;
	@include after_right();
	&__searchline {
		width: 983px;
		display: inline-block;
		border: 3px solid $o;
		select {
			width: 195px;
			height: 30px;
			padding: 0;
			display: block;
			float: left;
			border-right: 3px solid $o;
			option {
				height: 30px;
			}					
		}
		&--search {
			display: block;
			float: left;
			width: 180px;
			height: 30px;
			border-right: 3px solid #ff6b00;
			outline: none;
			border-width: 0 3px 0 0;
			padding: 0 10px;
		}
		&--but {
			display: block;
			float: left;
			height: 30px;
			width: 97px;
			border-width: 0 3px 0 0;
			text-align: center;
			background-color: #ebebeb;
			outline: none;
			cursor: pointer;
			&:hover, &:active, &:focus {
				background-color: darken(#ebebeb, 10%);
			}
			&:last-of-type {
				border: 0;
			}
		}
	}
	&__typesearch {
		width: 100%;
		display: inline-block;
		&--box {
			width: 40%;
			float: right;
			select {
				display: block;
				float: left;
				margin: 5px 0 5px 8px;
				width: 189px;
				height: 21px;
				@include border-radius(3px);
				@include background-clip(padding-box);
				background-color: #fff;
				@include box-shadow(1px, 4px, 3px, rgba(0,0,0,.38));
				outline: none;
			}
		}
	}
	&__container {
		@extend .contain;
		width: 928px;
		&--select{
			display: block;
			float: left;
			position: relative;
			width: 30%;
			h3 {
				font-family: $r;
				margin-top: 0;
				font-size: 16px;
				text-transform: uppercase;
			}
			input[type="checkbox"] {
			    display:none;
			}
			input[type="checkbox"] + label {
		    font-size:16px;
		    font-family: $r;
			display: block;
			margin: 0 0 20px 0;
			}
			input[type="checkbox"] + label span {
			    display: inline-block;
			    width:19px;
			    height:19px;
			    margin:-1px 15px 0 0;
			    vertical-align:middle;
			    cursor:pointer;
			    -moz-border-radius:  50%;
			    border-radius:  50%;
			}

			input[type="checkbox"] + label span {
			     background-color: #c6ccd2;
			}

			input[type="checkbox"]:checked + label span{
			     background-color: $o;
			     background-image: url("../img/Check-Icon.png");
			     background-position: center;
			     background-repeat: no-repeat;
			     color: $o;
			}

			input[type="checkbox"] + label span,
			input[type="checkbox"]:checked + label span {
			  -webkit-transition:background-color 0.4s linear;
			  -o-transition:background-color 0.4s linear;
			  -moz-transition:background-color 0.4s linear;
			  transition:background-color 0.4s linear;
			}

			input[type="checkbox"]:checked + label {
				color: $o;
			}					
		}	

		&--map {
			display: block;
			float: left;
			position: relative;
			width: 69%;
			height: 465px;
			border: 1px solid $o;
			&--title {
				width: 170px;
				height: 40px;
				z-index: 999;
				top: 0;
				right: 0;
				position: absolute;
				background-color: $o;
				p {
					color: #FFF;
					font-size: 15px;
					text-align: center;
					font-family: $r;
				}
			}
		}	

		&__block {
			display: block;
			float: left;
			width: 202px;
			height: 202px;
			background-image: url("../img/Outline-1.png");
			background-repeat: no-repeat;
			position: relative;
			margin: 25px 15px;
			@include grayscale(100%);
			opacity: 0.5;
			&:hover, &:active {
				@include grayscale(0%);
				opacity: 1;
			}
			p {
				text-align: center;
				margin-top: 0;
				font-family: $r;
				color: #444;				
			}
			img {
				display: block;
				margin: 20px auto 0;
			}
		}
	}
	
}

.whatIs {
	display: block;
	position: relative;
	padding: 50px 0 100px;
	background-image: url("../img/bg8.png");
	background-repeat: no-repeat;
	background-position: center;
	@include after_left();
	&__block {
		display: block;
		position: relative;
		float: left;
		width: 50%;
		margin: 25px 0;
		&-img {
			display: block;
			float: left;
			width: 20%;
			img {
				display: block;
				width: 96px;
				height: 95px;
				margin-top: 10px;
			}
		}
		&-text {
			display: block;
			float: left;
			width: 75%;
		    padding-right: 3%;
    		padding-left: 2%;
			color: #FFF;
			font-family: 'Calibri';
			h3 {
				margin: 0;
				font-size: 32px;
			}
			p {
				font-size: 20px;
				margin: 0;
				display: block;
			}
		}
	}
}

.deals {
	// display: block;
	// position: relative;
	// padding: 50px 0 0;		
	// &__line {
	// 	display: block;
	// 	position: relative;
	// 	padding: 25px 0;
	// 	&:hover {
	// 		background-color: #E7E8EB;
	// 	}
	// 	&__block {
	// 		@extend .contain;
	// 		width: 928px;			
	// 		&-img {
	// 			display: block;
	// 			position: relative;
	// 			float: left;
	// 			width: 25%;
	// 			padding-top: 10px;
	// 		}
	// 		&-content {
	// 			display: block;
	// 			float: left;
	// 			position: relative;
	// 			width: 75%;
	// 			color: #515151;
	// 			h2 {
	// 				font-size: 27px;
	// 			}
	// 			p {
	// 				font-size: 18px;
	// 				font-family: $r;
	// 			}
	// 			small {
	// 				font-size: 16px;
	// 				margin-right: 50px;					
	// 				display: block;
	// 				float: left;
	// 				width: 40%;
	// 				margin-bottom: 25px;
	// 				font-family: $r;
	// 			}
	// 			.soc {
	// 				float: right;
	// 				a {
	// 					i {
	// 						width: 20px;
	// 						height: 20px;
	// 						background-size: 695%;
	// 						margin-left: 5px;
	// 						@include grayscale(100%);
	// 						opacity: 0.5;
	// 						&:hover, &:active {
	// 							@include grayscale(0%);
	// 							opacity: 1;
	// 						}
	// 					}

	// 				}
	// 			}
	// 		}
	// 	}
	// }
	
	display: block;
		position: relative;
		float: left;
		width: 100%;
		margin-bottom: 25px;
		h3 {
			font-size: 20px;
			font-family: $r;
			color: #1b1b1b;
			margin-bottom: 15px;
		}
		&__item {
			display: block;
			float: left;
			width: 33%;
			position: relative;
		}
		&__line {
			display: block;
			float: left;
			margin: 0 -3%;
		}
		&__block {			
			display: block;
			position: relative;
			float: left;
			width: 82%;
			margin: 0 9%;
			-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.75);
			-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.75);
			box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.75);	
			&-sale {
				display: block;
				position: absolute;
				padding: 0 3px;
				font-family: $r;
				height: 35px;
				line-height: 30px;
				text-align: center;
				top: 0;
				left: 10px;
				background-color: $o;
				color: #FFF;
				font-size: 16px;
				z-index: 99;
				-webkit-clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0 75%, 0 100%);
				  -moz-clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0 75%, 0 100%);
				  -ms-clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0 75%, 0 100%);
				  clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0 75%, 0 100%);
			}		
			&-img {
				width: 100%;
				height: 161px;
				overflow: hidden;
				display: block;
				position: relative;
				img {
					width: auto;
					height: 100%;
					overflow: hidden;
				}
				&-more {
					&:before {
					  	content: '';
					  	display: block;
					}
					display: none;
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 80px;
					background: rgba(0, 0 , 0, 0.7);
					p {
						margin: 5px;
						font-size: 12px;
						color: #FFF;
					}
					a {
						color: #FFF;
						text-transform: uppercase;
						@include border-radius(2px);
						font-size: 12px;
						font-family: $r;
						padding: 5px;
						margin: 5px 0 0 5px;
						display: block;
						float: left;
						@include background-clip(padding-box);
						background-color: #272727;
						@include box-shadow(1px, 2px, 4px, rgba(0,0,0,.94));		
						background-image: -moz-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
						background-image: -o-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
						background-image: -webkit-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
						background-image: linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
						&:hover, &:active, &:focus {
							box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
							outline-color: rgba(255, 255, 255, 0);
							outline-offset: 15px;
							text-shadow: 1px 1px 2px #427388; 
							text-decoration: none;
							outline: none;
							color: #fff;
							background-image: -moz-linear-gradient(bottom, darken(#0589cd, 10%) 0%, darken(#35abe5, 10%) 100%);;
							background-image: -o-linear-gradient(bottom, darken(#0589cd, 10%) 0%, darken(#35abe5, 10%) 100%);
							background-image: -webkit-linear-gradient(bottom, darken(#0589cd, 10%) 0%, darken(#35abe5, 10%) 100%);
							background-image: linear-gradient(bottom, darken(#0589cd, 10%) 0%, darken(#35abe5, 10%) 100%);
							
						}
					}
					
				}
			}
			&-desc {
				position: relative;
				display: block;
				float: left;
				p {
					color: #6D585C;
					font-size: 12px;
					margin: 5px;
				}
				&-price {
					display: block;
					height: 25px;
					width: 100%;
					float: left;
					overflow: hidden;
					background-color: $o;
					border-top: 2px solid #f4cbb9;
					&_old {
						display: block;
						float: left;
						width: 50%;
						p {
							margin: 0;
							line-height: 25px;
							padding-left: 10px;
							font-size: 12px;
							font-family: $b;
						}
					}
					&_new {
						display: block;
						float: left;
						width: 50%;
						overflow: hidden;
						background-color: #fff;
						-webkit-transform: skew(-20deg);
						-moz-transform: skew(-20deg);
						-o-transform: skew(-20deg);
						padding-bottom: 30px;
						p {
							margin: 0;
							display: block;
							text-align: right;
							background-color: $o;
							color: #FFF;
							padding-right: 10px;
							line-height: 25px;
							-webkit-transform: skew(20deg);
							-moz-transform: skew(20deg);
							-o-transform: skew(20deg);
							font-size: 16px;
							font-family: $b;
						}
					}
				}
			}
			&:hover {					
				.singleContent__deals__block-img-more {
					display: block;
				}					
			}	
		}
}

.news {
	display: block;
	position: relative;
	padding: 50px 0;
	@include after_right();
	&__block {
		display: block;
		float: left;
		width: 300px;
		margin: 25px 15px;
		overflow: hidden;
		img {
			-webkit-border-radius: 10px;
			        border-radius: 10px;
		    width: 100%;
		    height: 200px;
		    overflow: hidden;
		}
		small {
			display: block;
			color: #A63002;
		}
		&-title {
			display: block;
			margin: 15px 0;
			color: #272727;
			font-family: $b;
			&:hover {
				color: $o;
			}
		}

		&-eye {
			color: #7d7b7b;
			font-size: 10px;
			display: block;
			float: left;
			margin-right: 10px;
			i {
				background-image: url('../img/eye46.png');
				background-repeat: no-repeat;
				display: block;
				float: left;
				width: 17px;
				height: 12px;
				margin-right: 10px;				
			}
		}
		&-comment {
			@extend .news__block-eye;
			i {
				background-image: url('../img/message30.png');
				width: 12px;
				height: 12px;
			}
		}
	}
}

.map {
	height: 500px;
	width: 100%;
	display: block;
	position: relative;
}