.first {
	display: block;
	position: relative;
	padding: 175px 0 200px;
	background-image: url("../img/SLIDER-IMAGE.png");
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-attachment: fixed;
	background-size: cover;
	@include after_left();
	&__title {
		display: block;
		width: 551px;
		position: relative;
		margin: 0 auto;
		background: rgba(0, 0 ,0 , 0.8);
		padding: 0 20px 10px;
		&__logo {
			display: inline-block;
			width: 20%;
			img {
				display: block;
				width: 91px;
				height: 91px;
			}
		}
		
		&__desc {
			display: inline-block;
			width: 75%;
			h1 {
				color: #fff;
				font-size: 75px;
				display: block;
				font-family: "Calibri";
				text-align: center;
				font-weight: bold;
				border-bottom: 1px solid #fff;
				margin: 0;
			}
			p {
				margin: 5px 0 0;
				color: #fff;
				font-size: 24px;
				text-align: center;
				font-family: $r;
			}
		}
	}
	&__but {
		display: block;
		margin: 25px auto;
		width: 375px;
		a {
			display: inline-block;
			background-color: $o;
			width: 162px;
			height: 32px;
			color: #fff;
			text-align: center;
			font-family: $b;
			margin: 0 10px;
			line-height: 32px;
			&:hover, &:active &:focus{
				background-color: darken($o, 10%);
			}
		}
	}
}

.filter {
	display: block;
	position: relative;
	padding-bottom: 50px;
	@include after_right();
	&__container {
		@extend .contain;
		width: 928px;		
		&__block {
			display: block;
			float: left;
			width: 202px;
			height: 202px;
			background-image: url("../img/Outline-1.png");
			background-repeat: no-repeat;
			position: relative;
			margin: 25px 15px;
			@include grayscale(100%);
			opacity: 0.5;
			&:hover, &:active {
				@include grayscale(0%);
				opacity: 1;
			}
			p {
				text-align: center;
				margin-top: 0;
				font-family: $r;
				color: #444;				
			}
			img {
				display: block;
				margin: 20px auto 0;
			}
		}
	}
	
}

.whatIs {
	display: block;
	position: relative;
	padding: 50px 0 100px;
	background-image: url("../img/bg8.png");
	background-repeat: no-repeat;
	background-position: center;
	@include after_left();
	&__block {
		display: block;
		position: relative;
		float: left;
		width: 50%;
		margin: 25px 0;
		&-img {
			display: block;
			float: left;
			width: 20%;
			img {
				display: block;
				width: 96px;
				height: 95px;
				margin-top: 10px;
			}
		}
		&-text {
			display: block;
			float: left;
			width: 75%;
			padding-right: 5%;
			color: #FFF;
			font-family: 'Calibri';
			h3 {
				margin: 0;
				font-size: 32px;
			}
			p {
				font-size: 20px;
				margin: 0;
				display: block;
				margin-right: 20%;
			}
		}
	}
}

.deals {
	display: block;
	position: relative;
	padding: 50px 0;
	&__line {
		display: block;
		position: relative;
		padding: 25px 0;
		&:hover {
			background-color: #E7E8EB;
		}
		&__block {
			@extend .contain;
			width: 928px;
			&-img {
				display: block;
				position: relative;
				float: left;
				width: 25%;
				padding-top: 10px;
			}
			&-content {
				display: block;
				float: left;
				position: relative;
				width: 75%;
				color: #515151;
				h2 {
					font-size: 27px;
				}
				p {
					font-size: 18px;
					font-family: $r;
				}
				small {
					font-size: 16px;
					margin-right: 50px;					
					display: block;
					float: left;
					width: 40%;
					margin-bottom: 25px;
					font-family: $r;
				}
				.soc {
					float: right;
					a {
						i {
							width: 20px;
							height: 20px;
							background-size: 695%;
							margin-left: 5px;
							@include grayscale(100%);
							opacity: 0.5;
							&:hover, &:active {
								@include grayscale(0%);
								opacity: 1;
							}
						}

					}
				}
			}
		}
	}
}