.stars {
	display: block;
	position: relative;
	&__gold {
		display: inline-block;
		position: relative;	
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		background-image: url("../img/star1.png");
		background-repeat: no-repeat;
	}
	&__dark {	
		display: inline-block;
		position: relative;			
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		background-image: url("../img/star2.png");
		background-repeat: no-repeat;
	}
}

.icon {
	width: 27px;
	height: 29px;
	background-position: 50% 50%;
	display: block;
	float: left;
	background-repeat: no-repeat;
	margin-right: 5px;
	&__cafe {
		background-image: url('../img/cafe-1.png');
		display: block;		
		float: left;
	}

	&__bankomat {
		background-image: url('../img/banck.png');
		display: block;	
	}

	&__wc {
		background-image: url('../img/wc-1.png');
		display: block;	
		float: left;	
		
	}

	&__wifi {
		background-image: url('../img/wifi-1.png');
		display: block;	
		float: left;	
	}

	&__shiny {
		background-image: url('../img/shiny.png');
		display: block;	
		float: left;	
	}

	&__postpay {
		background-image: url('../img/postpay.png');
		display: block;	
		float: left;	
	}

	&__store {
		background-image: url('../img/store.png');
		display: block;	
		float: left;	
	}

	&__coffemachine {
		background-image: url('../img/coffemachine.png');
		display: block;	
		float: left;	
	}

	&__payment {
		background-image: url('../img/payment.png');
		display: block;	
		float: left;	
	}

	&__parking {
		background-image: url('../img/parking.png');
		display: block;	
		float: left;	
	}

	&__terminal {
		background-image: url('../img/terminal.png');
		display: block;	
		float: left;	
	}

	&__restzone {
		background-image: url('../img/restzone.png');
		display: block;	
		float: left;	
	}
	&__ur {
		@extend .icon__cafe;
		background-image: url('../img/ur.png');
	}

	&__cp {
		@extend .icon__cafe;
		background-image: url('../img/cp.png');
	}

	&__voit {
		display: block;
		float: left;
		width: 12px;
		height: 11px;
		margin-left: 10px;
		background-image: url('../img/voit.png');
		background-repeat: no-repeat;
		background-position: 50%;		
	}
}