@import "_fonts";

.promo__head{
	width: 100%;
	display: block;
	float: left;
	height: 430px;
	background-image: url('../img/fon_header_promo.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	.promo_ad{
		width: 50%;
		float: right;
		display: block;
		margin-top: 20px;
		a{
			font-size: 16px;
			color: #FFF;
			font-family: $ncm ;
		}
		h2{
			font-family: $ncb;
			font-size: 36px;
   			color: #FFF;
   			span{
   				    color: #ff6b00;
   			}
		}
		&_border{
			width: 605px;
			height: 187px;
			opacity: 0.77;
			background-color: #191919;
			h3{
				color: #FFF;
				font-family: $ncm ;
				padding-left: 30px;
				padding-top: 23px;
				margin: 0;
				width: 60%;
			}
			p{
				color: #FFF;
				font-family: $ncm ;
				padding-left: 30px;
				padding-top: 30px;
				margin: 0;
			}
		}
	}
}
.promo__advantages{
	width: 100%;
	text-align: center;
	float: left;
	margin: 50px 0;
	position: relative;
	&_item{
		width: 33.3%;
		float: left;
		display: block;
		text-align: center;
		&_thumb{
			width: 100%;
			height: 80px;
			position: relative;
			display: block;
			img{
				max-width: 100%; 
				min-height: 100%; 
				position: absolute; 
				top: 50%; 
				-webkit-transform: translate(-50%, -50%); 
				-moz-transform: translate(-50%, -50%); 
				-ms-transform: translate(-50%, -50%); 
				-o-transform: translate(-50%, -50%); 
				transform: translate(-50%, -50%); 
			}
		}
		&_text{
			width: 100%;
			h3{
				font-family: $ncm;
				font-size: 24px;
				text-align: center;
				padding: 10px 100px;
			}
		}
		&:after{
			background-image: url('../img/arrow_first.png');
			content: "";
		    width: 155px;
		    height: 50px;
		    background-repeat: no-repeat;
		    position: absolute;
		    top: 40px;
		    left: 330px;
		}
		&:before{
			background-image: url('../img/arrow_two.png');
			content: "";
		    width: 155px;
		    height: 50px;
		    background-repeat: no-repeat;
		    position: absolute;
		    top: 40px;
		    right: 330px;
		}
	}
	
}
.knopka {
    display: inline-block;
    margin: 0 auto;
    width: 356px;
    height: 50px;
    background-color: #ff6b00;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
    text-decoration: none;
}
.promo__tab{
	padding: 60px 0;
	width: 100%;
	display: block;
	float: left;
	text-align: center;
	background-color: #f4f4f4;
		input, .content {
	    display: none;
	    position: relative;

	    line-height: 25px;
	    box-sizing: border-box;
	    padding: 30px 50px 0;
	    color: #000;
	    min-width: 200px;
	    float: left;
	    width: 100%;
		}
		#one:checked ~ .one,
		#two:checked ~ .two,
		#three:checked ~ .three,
		#four:checked ~ .four,
		#five:checked ~ .five {display: block;}

		label {
		    cursor: pointer;
		    /*background: #999;*/
		    padding: 10px 45px;
		    display: inline-block;
		    text-align: center;
		    margin-right: -3px;
		    transition: background .25s linear;  
		    font-size: 16px;
		    font-family: $ncb;
		    height: 16px;
		   color: #000;
		   /*  border-bottom: 1px solid #e5e5e5;
		   			border-top: 1px solid transparent;
		   			border-left: 1px solid transparent; */
			border-right: 1px solid dotted #000;
			&:last-of-type{
				border-right: none;
			}
		}
			label:hover, input:checked + label {
					 color: #ff6b00;
			}
	h3{
		font-family: $ncr;
		font-size: 16px;
		color: #000;
		padding: 30px 100px;
		width: 100%;
		box-sizing: border-box;
	}
	&_item{
		display: block;
		width: 20%;
		float: left;
		text-align: center;
		padding-top: 30px;
		&_pic{
			width: 100%;
			height: 80px;
			position: relative;
			display: block;
			img{
				max-width: 100%; 
				min-height: 100%; 
				position: absolute; 
				top: 50%; 
				-webkit-transform: translate(-50%, -50%); 
				-moz-transform: translate(-50%, -50%); 
				-ms-transform: translate(-50%, -50%); 
				-o-transform: translate(-50%, -50%); 
				transform: translate(-50%, -50%); 
			}
		}	
	}
	&_cont{
		width: 100%;
		float: left;
		display: block;
		p{
			font-family: $ncr;
			font-size: 16px;
			color: #000 !important;
		}
	}
}
.promo__company{
	width: 100%;
	display: block;
	text-align: center;
	float: left;
	position: relative;
	padding: 60px 0;
	p{
		font-family: $ncr;
		font-size: 16px;
		text-align: center;
		color: #000;
		width: 50%;
		padding-top: 30px;
		position: relative;
		margin: 0 auto;
		line-height: 25px;
	}
}